@font-face {
  font-family: "monkey family";
  src: url("/assets/fonts/Happy_Monkey/HappyMonkey-Regular.ttf")
    format(truetype);
}
* {
  box-sizing: border-box;
  padding: 0;
}

header {
  background-color: #fff;
  box-shadow: 0px 3px 10px #464646;
}
h1 {
  color: #000;
  display: flex;
  align-items: center;
  font-family: "monkey family";
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav-item {
  margin: 0 15px;
}
.link {
  text-decoration: none;
  color: #000;
  font-size: 1.15rem;
  font-family: Arial, Helvetica, sans-serif;
}
.link:hover {
  cursor: pointer;
}
.login-button button {
  border: none;
  background-color: blueviolet;
  padding: 10px 15px;
  border-radius: 5px;
}
.login-button a {
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  font-size: 1.15rem;
}
.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}
section {
  height: 730px;
  margin-top: 3px;
}
@media (max-width: 575.98px) {
  section {
    background-image: url("/assets/images/paolo-giubilato-ZwKCWVFdrcs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 576px) and (max-width: 730px) {
  section {
    height: 830px;
    background-image: url("/assets/images/paolo-giubilato-ZwKCWVFdrcs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }
  .nav-item {
    display: none;
  }
  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu-icon img {
    color: #ffff;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
    width: 100%;
  }
  .open {
    display: block;
  }
  .link:active {
    color: blueviolet;
  }
}
